@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Macondo&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --color: #fb4a36;
  --sub-topics: "Dancing Script", cursive;
  --main-topic: "Source Sans 3", sans-serif;
}
body {
  background-color: #fffcf5;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f5d791;
}
::-webkit-scrollbar-thumb {
  background-color: #f81900;
}
.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: #f9e9c5;
}

/***********   Home Section start  ***********/
.company-name1 {
  font: 600 25px "Macondo", cursive;
  text-transform: uppercase;
  color: var(--color);
}
.company-name2 {
  font: 600 25px "Macondo", cursive;
}

.company-name {
  text-align: center;
}

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  margin-top: 20px;
  padding: 10px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #ffb300;
  backdrop-filter: blur(10px);
}

.menu-items {
  font: 20px var(--main-topic);
  display: flex;
  gap: 20px;
}

.menu-item {
  text-decoration: none;
  padding: 4px 15px;
  position: relative;
  cursor: pointer;
  color: #000000;
}

.menu-item::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: var(--color);
  transition: all 0.2s ease-in-out;
}
.menu-item::before {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  height: 2px;
  width: 0;
  background-color: var(--color);
  transition: all 0.2s ease-in-out;
}

.menu-item:hover::after,
.menu-item:hover::before {
  width: 100%;
}
.close-bar {
  display: none;
}

.menu .menu-items .active {
  color: var(--color);
}

.head-btn {
  display: flex;
  align-items: center;
}

.head-btn1,
.head-btn2 {
  font: 25px var(--main-topic);
  border: none;
  padding: 4px 15px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s;
}

.link1,
.link2 {
  text-decoration: none;
}
.link2 {
  color: #ffffff;
}
.link1 {
  color: #f81900;
}
.head-btn3 {
  margin-left: 20px;
  font-size: 40px;
  color: #000000;
  display: none;
  cursor: pointer;
}
.head-btn .head-btn2 {
  background-color: var(--color);

  margin-left: 20px;
}

.head-btn2:hover {
  background-color: #f81900;
}
.head-btn1:hover {
  background-color: #fbc7c2;
}

@media (max-width: 1210px) {
  .header {
    padding: 10px 10px;
  }
}
@media (max-width: 1021px) {
  .company-name1 {
    font: 600 20px "Macondo", cursive;
  }
  .company-name2 {
    font: 600 18px "Macondo", cursive;
  }
  .menu .menu-items {
    font: 18px var(--main-topic);
  }
  .head-btn1,
  .head-btn2 {
    font: 20px var(--main-topic);
  }
}
@media (max-width: 950px) {
  .header {
    margin-top: 0;
    padding: 15px 10px;
  }

  .menu-items {
    z-index: 999;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0px;
    background-color: #fdeecb;
    width: 250px;
    height: 100vh;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: all 0.3s ease-in-out;
  }
  .mobile-nav {
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%);
  }
  .head-btn3 {
    margin-left: 20px;
    font-size: 40px;
    color: #000000;
    display: flex;
  }
  .menu-items {
    padding: 20px;
  }
  .menu-item {
    margin-top: 30px;
    transition: 0.3s;
    border-radius: 20px;
  }
  .close-bar {
    display: block;
    font-size: 40px;
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
  }
  .menu-item:before,
  .menu-item:after {
    display: none;
  }
  .menu-item:hover {
    background-color: #f8190051;
  }
}

@media (max-width: 500px) {
  .company-name1 {
    font: 600 18px "Macondo", cursive;
  }
  .company-name2 {
    font: 600 16px "Macondo", cursive;
  }
  .menu .menu-items {
    font: 18px var(--main-topic);
  }
  .head-btn1,
  .head-btn2 {
    font: 16px var(--main-topic);
    padding: 4px 10px;
  }
  .head-btn3 {
    font-size: 25px;
  }
  .head-btn .head-btn2,
  .head-btn3 {
    margin-left: 10px;
  }
}

/***********   Home Section End  ***********/

/***********   Home-slider start  ***********/
.home-slider {
  padding: 40px 140px;
  margin-top: 10px;
}

.slider {
  display: flex;
  align-items: center;
}
.small-title {
  font: 38px var(--sub-topics);
  color: #fb4a36;
}
.main-title {
  font: 60px var(--main-topic);
}
.slide-words {
  font: 25px var(--main-topic);
  color: #606060;
  width: 70%;
  text-align: justify;
}

.home-btn {
  margin-top: 20px;
  border: none;
  padding: 10px 20px;
  font: 20px var(--main-topic);
  background-color: var(--color);
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.home-btn:hover {
  letter-spacing: 2px;
}

.swiper-pagination-bullet {
  background-color: #fb4a36 !important;
}
.slide-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1299px) {
  .home-slider {
    padding: 40px 50px;
  }
}
@media (max-width: 1100px) {
  .home-img {
    width: 500px;
  }
  .slide-words {
    width: 80%;
  }
}
@media (max-width: 950px) {
  .slider {
    display: block;
    text-align: justify;
  }
  .slide-right {
    margin-top: 30px;
  }
  .home-img {
    width: 90%;
    height: 100%;
  }
}
@media (max-width: 500px) {
  .home-slider {
    padding: 15px 13px 20px 13px;
  }
  .small-title {
    font: 33px var(--sub-topics);
    color: #fb4a36;
  }
  .main-title {
    font: 42px var(--main-topic);
  }
  .slide-words {
    font: 20px var(--main-topic);
    width: 100%;
  }
}

/***********   Home-slider End  ***********/

/***********   Services Section start  ***********/
.service-section {
  background-color: #ffefca;
  /* height: 80vh; */
}
.titles {
  text-align: center;
  padding-top: 30px;
}
.titles .title {
  font: 45px var(--sub-topics);
  color: var(--color);
  margin-bottom: 15px;
}
.titles .title-text {
  font: 25px var(--main-topic);
  color: #606060;
}
.service-center {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-border {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.party-hall,
.best-food,
.home-delivery {
  width: 300px;
  height: 290px;
  border: 10px solid #ffb300;
  border-style: double;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.service-img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.party-hall:hover .service-msg,
.best-food:hover .service-msg,
.home-delivery:hover .service-msg {
  top: 0;
}
.service-msg {
  position: absolute;
  top: -500px;
  width: 100%;
  height: 100%;
  background-color: #fb4a365c;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.service-text1 {
  text-align: center;
  font: 25px var(--main-topic);
  color: #ffffff;
}

.service-text {
  margin-top: 20px;
  font: 600 25px var(--main-topic);
  color: #fb4a36;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1299px) {
  .service-border {
    width: 90%;
    justify-content: space-evenly;
  }
  .service-layer {
    margin-top: 30px;
  }
}

@media (max-width: 950px) {
  .titles .title {
    font: 38px var(--sub-topics);
    color: var(--color);
  }
  .titles .title-text {
    font: 23px var(--main-topic);
  }
}
@media (max-width: 500px) {
  .titles .title {
    font: 33px var(--sub-topics);
    color: var(--color);
  }
  .titles .title-text {
    font: 18px var(--main-topic);
  }
  .party-hall,
  .best-food,
  .home-delivery {
    width: 280px;
    height: 270px;
  }
  .service-text1 {
    font: 23px var(--main-topic);
  }

  .service-text {
    font: 600 20px var(--main-topic);
  }
}

/***********   Services Section End  ***********/

/***********   Menu Section Start  ***********/
.menu-section {
  padding: 20px 0;
}
.card-section {
  margin: 30px 30px 30px 30px;
  padding: 0 70px;
  /* padding: 0 30px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  margin-top: 130px;
  width: 280px;
  height: 250px;
  /* border: 2px solid black; */
  background-color: #ffefca;
  border-radius: 50px;
  position: relative;
}
.cardimg-layer,
.cardbtn-layer {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-img {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border: 7px solid var(--color);
  border-radius: 50%;
  margin-top: -90px;
}
.card-image {
  transition: 0.2s;
}
.card:hover .card-image {
  transform: scale(1.2);
}
.card-details {
  text-align: center;
  margin-top: 15px;
}
.card-title {
  font: 600 25px var(--main-topic);
  color: var(--color);
}
.card-rate {
  font: 25px var(--main-topic);
}
.card-btn {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  font: 20px var(--main-topic);
  background-color: var(--color);
  border-radius: 10px;
  color: #ffffff;
  margin-top: 30px;
  transition: 0.2s;
}
.card-btn:hover {
  letter-spacing: 2px;
}

@media (max-width: 800px) {
  .card-section {
    margin: 30px 10px 30px 10px;
  }
}
@media (max-width: 760px) {
  .card-section {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .card-title {
    font: 600 22px var(--main-topic);
  }
  .card-rate {
    font: 20px var(--main-topic);
  }
  .card-details {
    margin-top: 20px;
  }
  .card-btn {
    margin-top: 40px;
    padding: 9px 20px;
    font: 18px var(--main-topic);
  }
}

/***********   Menu Section End  ***********/

/***********   Reservation Section Start  ***********/
.reservation {
  background-image: url("../Assets/hall.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservation-form {
  border: 2px solid #ffefca;
  background-color: transparent;
  width: 450px;
  height: 500px;
  backdrop-filter: blur(10px);
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ftitle {
  font: 800 50px var(--sub-topics);
  color: #fdeecb;
  text-align: center;
}
.ftitle1 {
  margin-bottom: 20px;
  font: 600 40px var(--main-topic);
  color: #fb4a36;
  text-align: center;
}
.group {
  margin: 10px 0;
  display: flex;
  align-items: center;
  border: 2px solid #ffefca;
  padding: 5px 10px;
  width: 300px;
  border-radius: 10px;
}

.group-field {
  background-color: transparent;
  border: none;
  outline: none;
  font: 20px var(--main-topic);
  width: 100%;
  color: #fdeecb;
}
.group-field::placeholder {
  font-size: 16px;
  color: #aaafb3;
}
.symbol {
  font-size: 25px;
  color: var(--color);
  padding-right: 10px;
}

.res-btn {
  cursor: pointer;
  margin-top: 15px;
  border: none;
  padding: 8px 20px;
  background-color: var(--color);
  border-radius: 10px;
  font: 20px var(--main-topic);
  color: #ffffff;
  transition: 0.2s;
}
.res-btn:hover {
  letter-spacing: 2px;
}

@media (max-width: 500px) {
  .ftitle {
    font: 800 33px var(--sub-topics);
  }
  .ftitle1 {
    font: 600 30px var(--main-topic);
  }
  .group {
    width: 280px;
  }
  .group-field {
    font-size: 18px;
  }
  .reservation-form {
    width: 330px;
    height: 460px;
  }
}

/***********   Reservation Section End  ***********/

/***********   About Section start  ***********/
.pic-box {
  /* margin: 130px 0 0 100px; */
  display: grid;
  grid-template-columns: auto auto;
  width: 330px;
  gap: 5px;
  transform: rotate(45deg);
}

.about-img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  object-position: center;
  border: 7px solid #ffb300;
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 140px 150px;
}
.about-left {
  width: 50%;
}
.about-right {
  width: 50%;
}
.story-title {
  font: 30px var(--sub-topics);
  color: var(--color);
  text-align: center;
}
.story-content {
  margin-top: 30px;
  font: 20px var(--main-topic);
  text-align: justify;
  text-indent: 80px;
  color: #4e4e4e;
}
@media (max-width: 1210px) {
  .about-container {
    margin: 140px 30px 50px 70px;
  }
  .about-right {
    width: 50%;
  }
}

@media (max-width: 950px) {
  .about-container {
    display: block;
    margin: 140px 30px 50px 30px;
  }
  .about-left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-right {
    margin-top: 100px;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .pic-box {
    width: 220px;
    gap: 5px;
    transform: rotate(45deg);
  }

  .about-img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 5px solid #ffb300;
  }
  .about-container {
    margin: 90px 15px 50px 15px;
  }
  .story-content {
    margin-top: 20px;
    font: 18px var(--main-topic);
    text-indent: 40px;
  }
  .story-title {
    font: 33px var(--sub-topics);
  }
}

/***********   About Section End  ***********/

/***********   Footer Section Start  ***********/
.footer-section {
  background-color: #7e4a00;
  color: #ffffff;
}
.footer-box {
  padding: 0px 50px 30px 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-company {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}

.footer-title1 {
  font: 600 25px "Macondo", cursive;
  color: var(--color);
  text-transform: uppercase;
}
.footer-title2 {
  font: 600 25px "Macondo", cursive;
  color: #ffbc1f;
}
.footer-title3 {
  font: 600 23px var(--main-topic);
  color: #ffbc1f;
}
.fmenu {
  list-style: none;
  cursor: pointer;
  font: 18px var(--main-topic);
  color: #fdeecb;
  margin-top: 10px;
}
.fmenu:hover,
.media-text:hover {
  text-decoration: underline;
}
.footer-menuitems {
  display: flex;
  flex-direction: column;
}
.footer-flex,
.Hours {
  display: flex;
  align-items: center;
  font: 18px var(--main-topic);
  color: #fdeecb;
  margin-top: 10px;
}
.footer-icon {
  margin-right: 10px;
}
.footer-flex {
  cursor: pointer;
}
.footer-company,
.footer-menu,
.footer-social,
.footer-hours {
  margin-top: 40px;
  width: 250px;
}

.footer-line {
  /* width: 90%; */
  height: 2px;
  background-color: #ab8d64;
  margin: 0 50px;
}
.copy-icon {
  vertical-align: middle;
  margin-right: 5px;
}

.copyright {
  text-align: center;
  padding: 20px 0;
  font: 15px var(--main-topic);
  color: #b0a698;
}

@media (max-width: 500px) {
  .footer-box {
    padding: 0px 20px 30px 20px;
  }
  .footer-line {
    margin: 0 20px;
  }
}

/***********   Footer Section End  ***********/

/***********   Form Section start  ***********/

.sigup-section {
  background-color: #f9e9c5;
  background-image: url("../Assets/hero-banner-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.signup-layout {
  background-color: #f5d791;
  border: 2px solid #ff1900;
  width: 400px;
  height: 450px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.signup-form {
  position: absolute;
}
.signup-show {
  left: 40px;
  transition: all 0.2s ease-in-out;
}
.signup-hide {
  left: -350px;
  transition: all 0.2s ease-in-out;
}
.login-form {
  position: absolute;
}
.login-show {
  right: 40px;
  transition: all 0.2s ease-in-out;
}
.login-hide {
  right: -350px;
  transition: all 0.2s ease-in-out;
}

.signup-head {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.signup-title {
  font: 600 30px var(--main-topic);
  color: #ff1900;
  text-align: center;
}
.signup-icon {
  color: #fb4a36;
  font-size: 28px;
}
.signup-group {
  margin-top: 25px;
  display: flex;
  align-items: center;
  background-color: #f9e9c5;
  padding: 6px 10px;
  width: 300px;
  border-radius: 10px;
}
.signup-field {
  padding-left: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  font: 18px var(--main-topic);
}
.signup-field::placeholder {
  font-size: 16px;
}
.pass-flex {
  position: relative;
  /* width: 89%; */
}
.eye {
  font-size: 20px;
  background-color: #f9e9c5;
  cursor: pointer;
}
.signup-btn {
  margin: 25px 0 0 0;
  width: 250px;
  border: none;
  font-size: 18px;
  padding: 10px 13px;
  background-color: #fb4a36;
  border-radius: 10px;
  transition: 0.2s;
  color: #ffffff;
  cursor: pointer;
}
.signup-btn:hover {
  letter-spacing: 2px;
}

.signuptext {
  text-align: center;
  margin: 20px 0 30px 0;
  font: 17px var(--main-topic);
}
.mark {
  font-weight: 600;
  color: #ff1900;
  cursor: pointer;
}

.formerror {
  position: relative;
}

.error {
  position: absolute;
  left: 10px;
  bottom: -17px;
  font: 500 13px var(--main-topic);
  color: #f81900;
}

@media (max-width: 1100px) {
  .signup-head1 {
    font-size: 25px;
  }
  .signup-title {
    font-size: 25px;
  }
}

@media (max-width: 450px) {
  .signup-head1 {
    font-size: 25px;
  }
  .signup-title {
    font-size: 25px;
  }
  .signup-group {
    width: 250px;
  }
  .signup-layout {
    width: 320px;
  }
  .signup-btn {
    width: 200px;
  }
  .signup-field {
    font-size: 16px;
  }
  .login-show {
    right: 25px;
    transition: all 0.2s ease-in-out;
  }
  .signup-show {
    left: 25px;
    transition: all 0.2s ease-in-out;
  }
}
/***********   Form Section End  ***********/
